---
http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/books/v3/lists/current/list_name.json?api-key=<ny_times_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ERROR","copyright":"Copyright (c) 2022 The New York Times
        Company.  All Rights Reserved.","errors":["No list found for list name and\/or
        date provided.","Not Found"],"results":[]}'
  recorded_at: Mon, 11 Apr 2022 17:05:08 GMT
recorded_with: VCR 6.1.0
