---
http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/books/v3/lists/current/hardcover-fiction.json?api-key=<ny_times_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","copyright":"Copyright (c) 2022 The New York Times Company.  All
        Rights Reserved.","num_results":15,"last_modified":"2022-04-06T22:08:31-04:00","results":{"list_name":"Hardcover
        Fiction","list_name_encoded":"hardcover-fiction","bestsellers_date":"2022-04-02","published_date":"2022-04-17","published_date_description":"latest","next_published_date":"","previous_published_date":"2022-04-10","display_name":"Hardcover
        Fiction","normal_list_ends_at":15,"updated":"WEEKLY","books":[{"rank":1,"rank_last_week":1,"weeks_on_list":4,"asterisk":0,"dagger":0,"primary_isbn10":"075955434X","primary_isbn13":"9780759554344","publisher":"Little,
        Brown","description":"A singer-songwriter goes to Nashville seeking stardom
        but is followed by her dark past.","price":"0.00","title":"RUN, ROSE, RUN","author":"Dolly
        Parton and James Patterson","contributor":"by Dolly Parton and James Patterson","contributor_note":"","book_image":"https:\/\/storage.googleapis.com\/du-prd\/books\/images\/9780759554344.jpg","book_image_width":322,"book_image_height":500,"amazon_product_url":"https:\/\/www.amazon.com\/dp\/075955434X?tag=NYTBSREV-20","age_group":"","book_review_link":"","first_chapter_link":"","sunday_review_link":"","article_chapter_link":"","isbns":[{"isbn10":"075955434X","isbn13":"9780759554344"},{"isbn10":"0759554374","isbn13":"9780759554375"}],"buy_links":[{"name":"Amazon","url":"https:\/\/www.amazon.com\/dp\/075955434X?tag=NYTBSREV-20"},{"name":"Apple
        Books","url":"https:\/\/goto.applebooks.apple\/9780759554344?at=10lIEQ"},{"name":"Barnes
        and Noble","url":"https:\/\/www.anrdoezrs.net\/click-7990613-11819508?url=https%3A%2F%2Fwww.barnesandnoble.com%2Fw%2F%3Fean%3D9780759554344"},{"name":"Books-A-Million","url":"https:\/\/du-gae-books-dot-nyt-du-prd.appspot.com\/redirect?url1=https%3A%2F%2Fwww.anrdoezrs.net%2Fclick-7990613-35140%3Furl%3Dhttps%253A%252F%252Fwww.booksamillion.com%252Fp%252FRUN%25252C%252BROSE%25252C%252BRUN%252FDolly%252BParton%252Band%252BJames%252BPatterson%252F9780759554344&url2=https%3A%2F%2Fwww.anrdoezrs.net%2Fclick-7990613-35140%3Furl%3Dhttps%253A%252F%252Fwww.booksamillion.com%252Fsearch%253Fquery%253DRUN%25252C%252BROSE%25252C%252BRUN%252BDolly%252BParton%252Band%252BJames%252BPatterson"},{"name":"Bookshop","url":"https:\/\/du-gae-books-dot-nyt-du-prd.appspot.com\/redirect?url1=https%3A%2F%2Fbookshop.org%2Fa%2F3546%2F9780759554344&url2=https%3A%2F%2Fbookshop.org%2Fbooks%3Faffiliate%3D3546%26keywords%3DRUN%252C%2BROSE%252C%2BRUN"},{"name":"IndieBound","url":"https:\/\/du-gae-books-dot-nyt-du-prd.appspot.com\/redirect?url1=https%3A%2F%2Fwww.indiebound.org%2Fbook%2F9780759554344%3Faff%3DNYT&url2=https%3A%2F%2Fwww.indiebound.org%2Fsearch%2Fbook%3Fkeys%3DRUN%252C%2BROSE%252C%2BRUN%2BDolly%2BParton%2Band%2BJames%2BPatterson%26aff%3DNYT"}],"book_uri":"nyt:\/\/book\/de82c2a0-f17b-526c-a326-c2233f0667b3"},{"rank":2,"rank_last_week":0,"weeks_on_list":1,"asterisk":0,"dagger":0,"primary_isbn10":"0525539670","primary_isbn13":"9780525539674","publisher":"Putnam","description":"A
        brush with members of a drug-trafficking organization ushers a suburban family
        to go into the witness protection program.","price":"0.00","title":"WHAT HAPPENED
        TO THE BENNETTS","author":"Lisa Scottoline","contributor":"by Lisa Scottoline","contribut[...]
